{% extends "base.html" %}
{% block title %} Скопировать курс {% endblock %}

{% block body %}
    <h1>Форма копирования курса</h1>
    <form method="post">
        <h3>Копировать курс</h3>
        <label for="course_name">Новый курс:</label><br>
        <input type="text" name="course_name" placeholder="Название"><br>
        <label for="cousre_copy_from">Создать копию из:</label><br>
        <input type="text" name="course_copy_from" placeholder="Существующий курс"><br>
        <input type="submit" value="Отправить">
    </form>
{% endblock %}