<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>
    <h1>Форма обратной связи</h1>
    <form method="post">
        <h3>Написать нам Вы можете используя эту форму:</h3>
        <label for="name">Ваше имя:</label><br>
        <input type="text" name="name" placeholder="Имя"><br>
        <label for="email">Ваша почта:</label><br>
        <input type="text" name="email" placeholder="mail@example.com"><br>
        <label for="subject">Тема:</label><br>
        <input type="text" name="subject"><br>
        <label for="message">Сообщение:</label><br>
        <input type="text" name="message"><br>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>